.dashboard{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #F5E9DF;
}

.sideBar{
    display: flex;
    flex-direction: column;
    margin: 3vw;
    border-radius: 15px;
    background: linear-gradient(180deg, #EA871E 0%, #AC4F00 100%);
    font-family: 'Poppins';
    color: white;
    width: 18%;
    padding-top: 2vw;
}


.sideBtn{
    display: flex;
    align-items: center;
    height: 5vw;
    font-size: 1.3vw;
    margin-left: 3vw;
}

.sideBtn p{
    margin: 0;
}

.sideBtn img {
    margin-right: 0.5vw;
    width: 1.6vw;
    
}

.dashboard-logo{
    font-size: 1.8vw;
    font-weight: 600;
    margin-inline: auto;
    margin-bottom: 1vw;
}

.dashboard-logo img{
    width: 5vw;
    margin-right: 0;
 }

 .dashboard-logo p{
    margin-right: 0.6vw;
}

.main {
    background-color: antiquewhite;
    width: 82%;
    height: 100vh;
}