body{
    overflow-x: hidden;
    overflow-Y: scroll;
}
button {
    cursor: pointer;
}
header{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: min(1.5vw, 16px);
    font-weight:    500;
    gap: 20px;
    color: #878680;
    margin-right: 2vw;
}
.header2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 1.7vw;
    font-weight: 600;
}
.logo h3{
    background: linear-gradient(95.89deg, #EA871E 8.12%, #AC4F00 72.27%);
    background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo img{
    width: 8vw;
    max-width: 80px;
    height: 100%;
    margin-left: 15px;
}


.headerDiv button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #AC4F00;
    color: #AC4F00;;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
    font-size: 1vw;
    width: 9vw;
    max-width: 120px;
    gap: 10px;
    height: 3vw;
    max-height: 40px;
    text-align: left;
}

.headerDiv button img {
    width: 15%;
}

.firstDiv {
    background-size: cover;
    height: 50vw;
    max-height: 90vw;
    color: white;
    padding-left: 5%;
}
.firstDiv h2{
    margin: 0;
    padding-top: 6%;
    font-size: 1.4vw;
    font-weight: 500;
}

.firstDiv h1{
    margin-block: 2.5%;
    font-size: 6.5vw;
    font-weight: 400;
    line-height: 1em;
}

.firstDiv p{
    font-size: 1.3vw;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 3vw;
}

.firstDiv button{
    background: linear-gradient(90deg, #EA871E 0%, #AC4F00 100%);
    width: 23vw;
    max-width: 360px;
    height: 5vw;
    max-height: 60px;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    border: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.firstDiv button img{
    width: 16%;
}

.secondDiv {
    display: flex;
    position: relative;
    margin-top: -3vw;
    justify-content: center;
    gap: 2vw;
}

.featuresDiv{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 22vw;
    align-items: center;
    box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.1);
    height: 16vw;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2vw;

    font-size: 1vw;
}

.featuresDiv h2{
    margin: 5px;
}

.featuresDiv p{
    font-size: 0.9vw;
    margin: 2px;
}

.featuresDiv img{
    margin-top: 20px;
    height: 40%;
}

.thirdDiv {
    margin-block: 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-content {
    position: relative;
    width: 50vw;
    top: -15vw;
}

.thirdDivCircle {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #FF992D;
    position: absolute;
}

.thirdDivCircle:nth-child(1){
    width: 25vw;
    height: 25vw;
    left: 15vw;
    background: 0;
    background-size: cover;
}

.thirdDivCircle:nth-child(2){
    width: 12vw;
    height: 12vw;
    left: 3vw;
    bottom: -35vw;
}

.thirdDivCircle:nth-child(3){
    left: 3vw;
}


.thirdDivCircle:nth-child(4){
    right: 4vw;
    bottom: -35vw;
}


.image-placeholder:first-child {
    top: -12vw;
    left: 55%;
    
}

.image-placeholder:last-child {
    top: -3.5vw;
    left: 30%;
}

.text-content {
    width: 45vw;
    padding-right: 8vw;
}

.text-content h1 {
    color: #d66e00;
    font-size: 3vw;
    line-height: 1.1;
    margin-bottom: 24px;
    font-weight: 1300;
}

.text-content p {
    font-size: 1.1vw;
    line-height: 1.6;
    color: #878680;
    margin-bottom: 20px;
    font-weight: 550;
    
}

.text-content p strong {
    color: #ff7d00;
    font-weight: 1000;
}

.text-content p:last-child {
    margin-bottom: 100px;
}

.btn {
    background-color: #ff7d00;
    color: white;
    width: 15vw;
    height: 4vw;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1.5vw;
    font-weight: 600;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px; 
}



.btn:hover {
    background-color: #e66a00;
}

.fourthDiv {
    margin-top: 9vw;
    padding-top: 1vw;
background: linear-gradient(180deg, #EA871E 0%, #AC4F00 100%);
padding-bottom: 6vw;    
}

.projectsDiv{
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.project{
    font-size: 1.4vw;
    text-align: left;
    color: white;
    display: flex;
    width: 16vw;
    height: 30vw;
    padding-left: 2vw;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items:flex-end;
}
.project h3{
    font-weight: 800;
}
.title {
    text-align: center;
    color: white;
    font-size: 2.5vw;
}
.fifthDiv h1{
    background: linear-gradient(95.89deg, #EA871E 8.12%, #AC4F00 72.27%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4vw;
    font-weight: 800;
    margin-block: 1.5vw;
    line-height: 4vw;
    width: 80vw;
}

.fifthDiv h2{
    margin-block: 1.5vw;
    text-align: left;
    color: #24231D;
}
.fifthDiv {
    padding-top: 6vw;
    padding-bottom: 20vw;
    padding-left: 5vw;
}
.circleDiv{
    position: relative;
    top: -15vw;
}

.circleDiv img {
    position: absolute;
    width: 35vw;
    
}

.circleDiv img:nth-child(2) {
    right: -22vw;
    top: -20vw;
    animation: spin linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: cover;
    animation-fill-mode: both;
}

.circleDiv img:nth-child(3) {
    right: 12vw;
    animation: spin2 linear;
    top: -5vw;
    animation-timeline: view();
    animation-range-start: cover;
    animation-fill-mode: both;
    animation-range-end: cover;
}

.circleDiv img:nth-child(4) {
    right: 0vw;
    top: 50vw;
    animation: spin3 linear;
    animation-timeline: view();
    animation-fill-mode: both;
    animation-range-start: cover;
    animation-range-end: contain;
}

@keyframes spin {
    40% {
        right: -20vw;
        top: -20vw;
    }
    100% {
        right: 20vw;
        top: 0vw;
    }

  }

   @keyframes spin2 {
    20%{
        top: 10vw;
        right: 15vw;
    }
    50%{
        top: 30vw;
        right: 20vw;
    }
    70% {
        right: 15vw;
        top: 40vw;
    }
    85% {
        right: 12vw;
        top: 50vw;
    }
    100% {
        right: 12vw;
        top: 50vw;
    }
  } 
  @keyframes spin3 {

    100% {
        top: 60vw;
        right: -22vw     

    }
  }

  @keyframes pop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;     

    }
  }



.circle {
    width: 90vw;
    height: 80vw;
    border-radius: 50%;
    position: absolute;
    right: -45vw;
    overflow-x: hidden;
    background: linear-gradient(180deg, #EA871E 0%, #AC4F00 100%);
    margin: 0;
}



.sdgDiv {
    display: flex;
    flex-direction: column;
    gap: 12vw;
    margin-top: 4vw;
    padding-left: 2vw;
}

.sdg {
    width: 40vw;
    display: flex;
    text-align: justify;
    height: 10vw;   
    animation: pop  2s ease-in;
    animation-timeline: view();
    animation-range-start: -100px;
    animation-range-end: 350px;
    opacity: 1;
}

.sdg:nth-child(2) .text{
    width: 22vw;
}
.sdg:nth-child(2) {
    padding-bottom: 8vw;
}
.sdg:nth-child(2) img{
    width: 8vw;
}

.sdg img{
    object-fit: contain;
    width: 20%;
}

.sdg:nth-child(1) h3{
    color: #990404;
}

.sdg:nth-child(2) h3{
    color: #FF992D;
}

.sdg:nth-child(3) h3{
    color: #1B0A60;
}

.text {
    margin-left: 2vw;
}

.text h3{
    margin: 0;
    margin-top: 1vw;
    width: 110%;
    text-align: left;
    font-size: 1.7vw;
    line-height: 1.8vw;
    font-weight: 800;
}

.text p{
    font-size: 1.1vw;
    color: #8C8B8B;
    font-weight: 600;
    line-height: 1.8vw;
    margin-top: 0.5vw;
}


.spacer{
    width: 100%;
    height: 10vw;
    background-color: #F8F7F0;
}

.seventhDiv {
    width: 100%;
    height: 60vw;
    background: linear-gradient(180deg, #EA871E 0%, #AC4F00 100%);

}

.sixthDiv {
    display: flex;
    background-color: #ffffff;
    color: #878680;
    justify-content: center;
    padding-block: 10vw;
}

.image-container {
    width: 40vw;
    height: 40vw;
    border: 2px solid black;
    background-color: #fafafa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.content {
    width: 40vw;
    margin-left: 2vw;
}

.sixthDiv .title {
    margin-block: 0;
    text-align: left;
    font-size: 4vw;
    color: #333333;
    font-weight: 800;
}

.gradient-text {
    margin-block: 0;
    font-weight: 800;
    font-size: 6vw;
    background: linear-gradient(to right, #EA871E, #AC4F00);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.sixthDiv p {
    margin: 0;
    font-weight: 500;
    color: #878680;
    line-height: 1.8;
    font-size: 1vw;
}

.feature {
    margin-top: 1vw;
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: space-between;
}

.sixthDiv h2 {
    margin: 0;
    font-size: 25px;
    color: #333333;

}

.sixthDiv button.discover-btn {
    font-family: 'Manrope', sans-serif;
    background-color: #EA871E;
    color: #ffffff;
    border: none;
    padding: 19px 55px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 30px;
    transition: background-color 0.3s;
}

.sixthDiv button.discover-btn:hover {
    background-color: #ff7d00;
}

footer {
    color: #A5A49A;
    background-color: #1F1E17;
    height: 6vw;
    display: flex;
    align-items: center;
    font-size: 1vw;
    justify-content: space-between;
}

footer img{
    width: 5vw;
    padding-right: 1vw;
}
footer span{
    display: flex;
    align-items: center;
}

.allRights {
    margin-left: 2vw;
    margin-right: 50vw;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
}

.seventhDiv {
    margin-top: 155px;
    color: white;
    line-height: .9;
    padding-top: 4vw;
}

.seventhDiv h1 {
    padding-left: 8vw;
    font-size: 5vw;
    font-weight: 700;
    width: 50vw;
}

.seventhDiv p {
    padding-top: 1vw;
    padding-left: 8vw;
    font-size: 1.8vw;
    font-weight: 400;
    margin-bottom: 4vw;
    line-height: 1.2;
    width: 50vw;
    text-align: justify;
}

.seventhDiv button {
    margin-left: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 1vw;
    width: 9vw;
    max-width: 120px;
    gap: 10px;
    height: 3vw;
    max-height: 40px;
    text-align: left;
}

.seventhDiv button img {
    filter: brightness(0) invert(1);
}
